/* $grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px
);*/

:root {
    --bs-primary: #1abc9c;
    --bs-primary-rgb: 26, 188, 156;

    --my-primary-dark: #199f84;
    --my-primary-dark-rgb: 25, 159, 132;

    --bs-secondary: #3a546d;
    --bs-secondary-rgb: 58, 84, 109;

    --bs-dark: #2c3e50;
    --bs-dark-rgb: 44, 62, 80;

}

html{
    font-size: 16px;
}

/* menu */
.main-menu{
    list-style: none;
    margin: 0;
    padding: 0;
    /* debug */
}

.main-menu li a{
    text-decoration: none;
    padding: 1rem;
}

.hamburger-menu{
    border: 2px solid white;
    padding-right: .5rem;
    padding-left: .5rem;
    opacity: .5;
    border-radius: 5px;
}

.hamburger-menu div{
    width: 25px;
    height: 3px;
    background-color: #888888;
    margin: 6px 0;
}

/* section */
.section{
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.jumbo-content .jumbo-avatar img{
    width: 200px;
}

.portfolio-card{
    padding-bottom: calc(var(--bs-gutter-x) * 1);
    transition: all .5s;
    cursor: pointer;
}

.portfolio-card:hover{
    transform: scale(1.1);
}

.portfolio-card img:hover{
    box-shadow: 1px 1px 1px 2px var(--bs-secondary);
}



.btn-outline-light:hover,
.btn-outline-light:active {
    color: #fff;
    background-color: var(--my-primary-dark);
    border-color: var(--my-primary-dark)
}

.form-control{
    border-top: 0;
    border-right: 0;
    border-left: 0;
    background-color: transparent;
}

.form-control:focus {
    color: #212529;
    background-color: #fff;
    border-color: var(--my-primary-dark-rgb);
    outline: 0;
    box-shadow: 0 0 0 0.25rem  rgb(26 188 156 / 25%)
}

.btn-primary{
    color: #fff;
    background-color: var(--bs-primary);
    border-color: var(--bs-primary);
}
.btn-primary:active,
.btn-primary:hover {
    color: #fff;
    background-color: var(--my-primary-dark);
    border-color: var(--my-primary-dark);
}

.btn-primary:active:focus{
    box-shadow: 0 0 0 0.25rem  rgb(26 188 156 / 50%);
}
.btn-primary:focus {
    color: #fff;
    background-color: var(--my-primary-dark);
    border-color: var(--my-primary-dark);
    box-shadow: 0 0 0 0.25rem  rgb(26 188 156 / 50%);
}


footer div a{
    width: 40px;
    height: 40px;
    color: white;
    border: 1px solid white;
    border-radius: 50%;
    display: inline-block;
    line-height: 40px;
    margin-right: .5rem;
}

footer div a:hover{
    color: white;
}